wandb/
data/
*.pt
*.pth
checkpoints/
__pycache__/
analyse_tree.py
ClassificationResults/
NeurIPS-2024-eeg2video-towards-decoding-dynamic-visual-perception-from-eeg-signals-Paper-Conference.pdf
vae_reconstructions/
venv/
latent_out_block7_40_classes.npy