accelerate==0.15.0
bitsandbytes==0.35.0
decord==0.6.0
diffusers[torch]==0.11.1
einops==0.4.1
ftfy
huggingface-hub==0.12.1
imageio==2.37.0
#matplotlib
numpy==1.26.4
omegaconf==2.3.0
opencv_python
scikit-learn==1.6.1
tokenizers==0.13.3
#torch==1.13.1+cu117
#torchaudio==0.13.1+cu117
#torchvision==0.14.1+cu117
tqdm
transformers==4.25.1
triton
wandb
xformers==0.0.16
Pillow
