accelerate==0.15.0
bitsandbytes==0.35.0
decord==0.6.0
diffusers==0.11.1
einops==0.8.1
imageio==2.37.0
matplotlib==3.10.1
numpy==2.2.5
omegaconf==2.3.0
opencv_python==4.11.0.86
packaging==25.0
pandas==2.2.3
Pillow==11.2.1
scikit_learn==1.6.1
scipy==1.15.2
skimage==0.0
torch==1.13.1+cu117
torchmetrics==0.10.3
torchvision==0.14.1+cu117
tqdm==4.67.1
xformers==0.0.30
